include README.md
include CHANGELOG.md
include LICENSE
include pyproject.toml
include runtests.py
recursive-include tests *.py

recursive-include sealed_fields *.py

recursive-exclude * __pycache__
recursive-exclude * *.py[co] 